<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Container.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/Common.css">
</head>
<body>
        <section id="package-section">
            <article class="container">
                <aside class="content-container">

                        <div class="package-container">

                            <div class="heading-div">
                                <div class="hr"></div>
                                <h1 class="heading font-weight-700 font-lg text-color-theme">YAY! It's BOGO</h1>
                                <div class="hr"></div>
                            </div>

                            <form class="package-form">

                                <div>
                                    <!-- =% UNIT 1 -->
                                    <div onclick="show(event,'form-radio-1')" class="each-package py-16 px-24 mt-24">
                                        <div class="visible-div flex justify-between item-center">
                                            <div class="left-details-div flex gap-12">
                                                <input id="form-radio-1" type="radio" name="form-radio" class="radio-input radio-color-theme">
                                                <div class="">
                                                    <div class="flex gap-8 item-center justify-center">
                                                        <p class="unit-text font-sm font-weight-600">1 Unit</p>
                                                        <div class="discount-text font-xs py-2 px-4 text-color-white font-weight-200 bg-theme">10% OFF</div>
                                                    </div>
                                                    <p class="package-category font-xs mt-2">Standard Price</p>
                                                </div>
                                            </div>
                                            <div class="right-details-div">
                                                <p class="package-price font-sm font-weight-600">$10.00 USD</p>
                                                <p class="deleted-price font-xxs mt-2 del">$24.00 USD</p>
                                            </div>
                                        </div>

                                        <div class="hidden-div">
                                            <table class="details-table">
                                                <thead>
                                                    <th> </th>
                                                    <td><p class="font-xs text-color-black">Size</p></td>
                                                    <td><p class="font-xs text-color-black">Colour</p></td>
                                                </thead>
                                                <tbody class="table-body">
                                                    <tr class="each-row">
                                                        <td><p class="font-xxs text-color-black">#1</p></td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        S
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>L</P>
                                                                    <P>M</P>
                                                                    <P>SM</P>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        Black
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>White</P>
                                                                    <P>Red</P>
                                                                    <P>Green</P>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="each-row">
                                                        <td><p class="font-xxs text-color-black">#2</p></td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        S
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>L</P>
                                                                    <P>M</P>
                                                                    <P>SM</P>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        Black
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>White</P>
                                                                    <P>Red</P>
                                                                    <P>Green</P>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <!-- =% UNIT 2 -->

                                    <div onclick="show(event,'form-radio-2')" class="each-package py-16 px-24 mt-20">
                                        <div class="most-popular-div">
                                            <img src="/static/image/most_popular.png" alt="">
                                        </div>
                                        <div class="visible-div flex justify-between item-center">
                                            <div class="left-details-div flex gap-12">
                                                <input checked="true" type="radio" id="form-radio-2" name="form-radio" class="radio-input radio-color-theme">
                                                <div class="">
                                                    <div class="flex gap-8 item-center justify-center">
                                                        <p class="unit-text font-sm font-weight-600">2 Unit</p>
                                                        <div class="discount-text font-xs py-2 px-4 text-color-white font-weight-200 bg-theme">20% OFF</div>
                                                    </div>
                                                    <p class="package-category font-xs mt-2">Standard Price</p>
                                                </div>
                                            </div>
                                            <div class="right-details-div">
                                                <p class="package-price font-sm font-weight-600">$18.00 USD</p>
                                                <p class="deleted-price font-xxs mt-2 del">$24.00 USD</p>
                                            </div>
                                        </div>

                                        <div class="hidden-div">
                                            <table class="details-table">
                                                <thead>
                                                    <th> </th>
                                                    <td><p class="font-xs text-color-black">Size</p></td>
                                                    <td><p class="font-xs text-color-black">Colour</p></td>
                                                </thead>
                                                <tbody class="table-body">
                                                    <tr class="each-row">
                                                        <td><p class="font-xxs text-color-black">#1</p></td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        S
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>L</P>
                                                                    <P>M</P>
                                                                    <P>SM</P>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        Black
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>White</P>
                                                                    <P>Red</P>
                                                                    <P>Green</P>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="each-row">
                                                        <td><p class="font-xxs text-color-black">#2</p></td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        S
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>L</P>
                                                                    <P>M</P>
                                                                    <P>SM</P>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        Black
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>White</P>
                                                                    <P>Red</P>
                                                                    <P>Green</P>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- =% UNIT 3 -->
                                    <div onclick="show(event,'form-radio-3')" class="each-package py-16 px-24 mt-20">
                                        <div class="visible-div flex justify-between item-center">
                                            <div class="left-details-div flex gap-12">
                                                <input id="form-radio-3" type="radio" name="form-radio" class="radio-input radio-color-theme">
                                                <div class="">
                                                    <div class="flex gap-8 item-center justify-center">
                                                        <p class="unit-text font-sm font-weight-600">3 Unit</p>
                                                        <div class="discount-text font-xs py-2 px-4 text-color-white font-weight-200 bg-theme">30% OFF</div>
                                                    </div>
                                                    <p class="package-category font-xs mt-2">Premium Price</p>
                                                </div>
                                            </div>
                                            <div class="right-details-div">
                                                <p class="package-price font-sm font-weight-600">$24.00 USD</p>
                                                <p class="deleted-price font-xxs mt-2 del">$24.00 USD</p>
                                            </div>
                                        </div>

                                        <div class="hidden-div">
                                            <table class="details-table">
                                                <thead>
                                                    <th> </th>
                                                    <td><p class="font-xs text-color-black">Size</p></td>
                                                    <td><p class="font-xs text-color-black">Colour</p></td>
                                                </thead>
                                                <tbody class="table-body">
                                                    <tr class="each-row">
                                                        <td><p class="font-xxs text-color-black">#1</p></td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        S
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>L</P>
                                                                    <P>M</P>
                                                                    <P>SM</P>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        Black
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>White</P>
                                                                    <P>Red</P>
                                                                    <P>Green</P>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="each-row">
                                                        <td><p class="font-xxs text-color-black">#2</p></td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        S
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>L</P>
                                                                    <P>M</P>
                                                                    <P>SM</P>
                                                                </div>
                                                            </div>
                                                        </td>

                                                        <td class="selection-div">
                                                            <div class="font-xs">
                                                                <div class="selected flex item-center justify-between gap-8">
                                                                    <div>
                                                                        Black
                                                                    </div>
                                                                    <div>
                                                                        <svg width="8" height="8" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M3.2632 4.41797L0.915051 0.350854L5.61135 0.350855L3.2632 4.41797Z" fill="black"/>
                                                                            </svg>
                                                                            
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown">
                                                                    <P>White</P>
                                                                    <P>Red</P>
                                                                    <P>Green</P>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="delivery-details flex item-center justify-between mt-24">
                                    <p class="font-base text-color-theme font-weight-400">Free Delivery</p>
                                    <p class="font-base font-weight-400">Total : $18.00 USD</p>
                                </div>

                                <div class="button-div mt-24">
                                    <button type="button" class="add-to-cart-button bg-theme font-sm flex item-center justify-center gap-8">
                                        <span class="font-lg">+</span>
                                        <span>Add To Cart</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                </aside>
            </article>
        </section>


        <script src="/static/js/index.js"></script>
</body>
</html>